#name: Release Build
#
#on:
#  push:
#    tags:
#      - 'v*'
#
#jobs:
#  build:
#    runs-on: windows-latest
#    steps:
#      # 指定项目根目录
#      - uses: actions/checkout@v4
#
#      # 使用Java17构建
#      - name: Set up Java
#        uses: actions/setup-java@v4
#        with:
#          distribution: 'temurin'
#          java-version: 17
#
#      # 读取version.txt定义的版本号
#      - name: Read version
#        id: version
#        run: |
#          echo "VERSION=$(Get-Content .\version.txt | ForEach-Object { $_.Trim() })" >> $env:GITHUB_OUTPUT
#
#      # 使用mvn结合jlink插件构建javafx
#      - name: Build with Maven
#        run: mvn clean javafx:jlink -f pom.xml
#
#      # 拷贝 native 文件
#      - name: Copy native files
#        run: |
#          New-Item -ItemType Directory -Force -Path .\target\app\bin\native
#          Copy-Item -Recurse .\assets\native\* .\target\app\bin\native\
#
#      # 使用 jpackage 构建 exe 文件
#      - name: Package with jpackage
#        run: |
#          jpackage `
#            --type app-image `
#            -n gtav-ops `
#            -m "club.pineclone.gtavops/club.pineclone.gtavops.client.MainFX" `
#            --runtime-image .\target\app `
#            --icon .\assets\icon.ico `
#            --dest .\result
#
#      # 打包构建结果为7z
#      - name: Compress build output
#        run: |
#          cd result/gtav-ops
#          7z a ../../gtav-ops-${{ steps.version.outputs.VERSION }}.7z *
#
#      # 发布为release
#      - name: Upload Release
#        uses: softprops/action-gh-release@v1
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        with:
#          tag_name: ${{ github.ref_name }}
#          name: Release ${{ github.ref_name }}
#          files: gtav-ops-${{ steps.version.outputs.VERSION }}.7z